body {
  background: #F8F8F8;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
#chat_client {
  position: fixed;
  bottom: 0;
  background: #888888;
  padding: 5px;
  margin-left: -11px;
  z-index: 2;
}
#chat_client p{
  margin:0;
  padding:0;
}
#chat_client .chat-message-field {
  width: 240px;
  padding: 5px;
  font-size: 14px;
}
#chat_client .chat-message-label {
  color: white;
}
#chat_messages_container {
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  height: 95%;
  padding-bottom: 14px;

  width: 250px;
  border: 1px solid black;
  padding: 10px;
  background: #fff;
  color: white;
}

.omnichat-message {
  padding-bottom: 5px;
  margin: 2px 0;
  clear: both;
  min-height: 50px;
}

.omnichat-connect .omnichat-user-nick,
.omnichat-disconnect .omnichat-user-nick {
  display: none;
}

.rabo-balao{
  top: 4px;
  width: 10px;
  height: 17px;
  position: absolute;
}

.omnichat-user-nick{
  font-size: 1em;
  color: #777;
  font-weight: bold;
}
.omnichat-user-img{
  width: 50px;
  height: 50px;
  overflow: hidden;
  float: left;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.omnichat-user-img img{
  width: 50px;  
}
.omnichat-user-text{
  margin-top: 2px;
  font: 1.1em;
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  min-height: 20px;
  line-height: 1.3em;
  margin-left: 60px;
  word-wrap: break-word;
  -moz-word-wrap: break-word;
  -webkit-word-wrap: break-word;
  
  box-shadow: 0px 0px 4px #555;
  -moz-box-shadow: 0px 0px 4px #555;
  -webkit-box-shadow: 0px 0px 4px #555;
   
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
#chat_users_container {
  
}

#chat_panel{
  margin-right: 272px;
  width: 136px;
  overflow: auto;
  right: 0;
  position: fixed;
  height: 100%;
}

.omnichat-disconnect .omnichat-user-text{
  background: #FFD9D3;
  color: #C90202;
  border-color: #C90202;
}
.omnichat-connect .omnichat-user-text{
  background: #BAEBB4;
  color: #266E38;
  border-color: #266E38;
}
#openchat{
  background: #888;
  border: 1px solid #666;
  border-right-width: 0;
  width: 28px;
  position: fixed;
  bottom: -1px;
  height: 80px;
  right: 272px;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
}

#openchat .abrir{
  position: absolute;
  margin: 34px 0 0 0;
  color: white;
  font-weight: bold;
  -webkit-transform: rotate(90deg);	
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

#openchat .fechar{
  color: white;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  width: 20px;
  height: 42px;
  padding: 26px 0 0 8px;
  margin-top: 6px;
}
/*-------- Users -----*/
.omnichat-user {
  border: 1px solid #333;
  padding: 0px;
  margin-bottom: 2px;
  clear: both;
  min-height: 25px;
  background: #506050;
  border-radius: 8px 0 0 8px;
  -web-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
}
.omnichat-user .omnichat-user-img{
  width: 25px;
  height: 25px;
  overflow: hidden;
  float: left;
  margin-right: 6px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.omnichat-user .omnichat-user-img img{
  width: 25px;  
}
.omnichat-user-name{
  color:#fff;
  padding: 5px 0;
}
/*-------- Me user -----*/

.omnichat-me {
  font-weight: none;
}
.omnichat-me .omnichat-user-img{
  float: right;
  margin: 0 0 0 5px;
}
.omnichat-me .omnichat-user-text{
  background: #eee;
  border-color: #777;
  color: #444;
  margin-right: 60px;
  margin-left: 0;
  position: relative;
}
.omnichat-me .omnichat-user-nick{
  text-align: right;
}
.omnichat-me .rabo-balao{
  background: url(/img/rabo_balao.png) no-repeat 0 0 transparent;
  right: -10px;
}

/*-------- you message -----*/

.omnichat-you .omnichat-user-img{
  float: left;
  margin: 0 5px 0 0;
}
.omnichat-you .omnichat-user-text{
  background: #D6F0F9;
  border-color: #4F6C9B;
  color: #444;
  margin-left: 60px;
  position: relative;
}
.omnichat-you .omnichat-user-nick{
  text-align: left;
}
.omnichat-you .rabo-balao{
  background: url(/img/rabo_balao.png) no-repeat 0 -18px transparent;
  left: -10px;
}

/*-------------- Ultima mensagem -----------*/
.ultima_mensagem{
  margin-bottom: 72px;
}






















