body {
  background: #F8F8F8;
}
#chat_client {
  position: fixed;
  bottom: 0;
  background: #888888;
  padding: 5px 20px;
  margin-left: -8px;
  z-index: 2;
  width: 755px;
}
#chat_client .chat-message-field {
  width: 90%;
  padding: 10px;
  font-size: 18px;
}
#chat_client .chat-message-label {
  color: white;
}
#chat_messages_container {
  margin-bottom: 120px;
}
.omnichat-message {
  padding-bottom: 5px;
  margin: 2px 0;
}
.omnichat-connect {
  color: #266E38;
}
.omnichat-connect .omnichat-user-nick,
.omnichat-disconnect .omnichat-user-nick {
  display: none;
}
.omnichat-disconnect {
  color: #8A3636;
}
.omnichat-me {
  font-weight: bold;
}

#chat_users_container {
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  height: 95%;
  padding-bottom: 14px;

  width: 250px;
  border: 1px solid black;
  padding: 10px;
  background: #636363;
  color: white;
}

.omnichat-user {
  border: 1px solid white;
  padding: 5px;
  margin-bottom: 5px;
}






























